
.loginHeader {
    background-color: #EFB820 !important;
    padding: 20px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.loginHeader>h4 {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.card {
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.buttonLogin {
    background-color: #150D3E !important;
    color: #ffffff;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    transition: background-color 0.3s ease;
}

/* Hover del botón de login */
.buttonLogin:hover {
    background-color: #218838 !important;
}

/* Estilo de enlaces */
.text-center a {
    color: #150D3E;
    text-decoration: none;
    transition: color 0.3s ease;
}

.text-center a:hover {
    color: #e55e50;
}

/* Toast de error */
.toast-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 11;
}

.toast-body {
    font-weight: bold;
}