body {
    font-family: 'Roboto', sans-serif;
}

.navbar-nav .nav-link {
    color: #EFB820 !important;
    font-weight: bold;
}




.hero h1 {
    font-size: 4rem;
    font-weight: bold;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: inline-block;
}

.section-title {
    color: #EFB820;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.property {
    margin-bottom: 20px;
}

.property img {
    width: 100%;
    height: auto;
}

.property-info {
    padding: 10px;
    background-color: #150D3E;
    color: white;
}

.footer {
    background-color: #EFB820;
    padding: 20px 0;
    color: #150D3E;
}

.footer a {
    color: #150D3E;
}

.footer-form {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 5px;
}

.footer .contact-info,
.footer .social-icons {
    margin-bottom: 20px;
}

.finally {
    background-color: #150D3E;
    color: white;
}

.hero {
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
.section-title {
    color: #EFB820;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 16px 40px rgba(0, 0, 0, 0.4);
}

.card-img-top {
    object-fit: cover;
    height: 200px;
}

.card-body {
    background-color: #150D3E;
    color: white;
    padding: 20px;
}

.card-body h5 {
    color: #EFB820;
    font-size: 1.8rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.card-body p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.btn-warning {
    background-color: #ffc107;
    color: #150D3E;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-warning:hover {
    background-color: #ffa07a;
    color: #150D3E;
}

.more-properties {
    display: none;
}

footer {
    background-color: #150D3E;
    color: white;
    padding: 40px 0;
    text-align: center;
    position: relative;
    margin-top: 50px;
}

footer a {
    color: #EFB820;
    text-decoration: none;
}

footer a:hover {
    color: #ffa07a;
}

footer .social-icons img {
    margin: 0 10px;
    transition: transform 0.3s;
}

footer .social-icons img:hover {
    transform: scale(1.2);
}
